@font-face{
	font-family:"fuente linda";
src: url("fonds/LuckiestGuy-Regular.ttf");
}
body{
    background: color #f4e3b2; ;
	font-family: "fuente linda";
	font-size: xx-large;
}

h1{
    color: #310e10;
}

div{
    width: 90%;
}

img{
	height: 100;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.texto{
    width: 100%;
    background-color: #947268;
    text-align: center;
}
.grupo-fotos {
	width: 100%;
    background-color: rgba(99, 29, 8, 0.815);
}

.foto{
    background-color: #3c1b0f;
    width: 20%;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

.myButton {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background-color:#878fd4;
	border-radius:15px;
	border:2px solid #406db1;
	display:inline-block;
	cursor:pointer;
	color:#476ca3;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:14px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c4b28144;
}
.myButton:hover {
	background-color:#283d75;
}
.myButton:active {
	position:relative;
	top:1px;
}

#listanav{
	background-color: #283d75;
	list-style: none;
	border-radius: 5px;
}

#listanav a{
	text-decoration: none;
	color: rgb(11, 56, 31);
	font-size: 20px;
}
#listanav a:hover{
	color: rgb(34, 3, 3);
	font-size: 22px;
}

#listanav li{
	display: inline-block;
	padding: 5px;
}